FLASK_SECRET_KEY=change-this
HTTP_TIMEOUT_SECONDS=12
GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY
FLOOD_BANGKOK_API_URL=
FLOOD_BANGKOK_API_TOKEN=
TRAFFY_API_URL=
TRAFFY_API_TOKEN=
CAR_PASS_CM=10
CAR_CAUTION_CM=20
CAR_AVOID_CM=24
CAR_BLOCK_CM=25
NEARBY_FLOOD_KM=3
NEARBY_TRAFFY_KM=2
